name: Build Script

on:
  push:
    branches:
      - main  
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install BeautifulSoup
      run: pip install beautifulsoup4
    - name: Run Build Script
      run: python build.py

    - name: Commit and Push Changes
      run: |
        git config --global user.name 'GitHub Actions'
        git config --global user.email 'actions@github.com'
        git checkout -b deploy  # Erstelle einen neuen Branch
        git add .
        git commit -m "Automated build commit"
        git push origin deploy
